<div class="item">
    <input
      [id]="item.titulo"
      type="checkbox"
      (change)="item.completado = !item.completado"
      [checked]="item.completado" />
    <label [for]="item.titulo">{{item.titulo}}</label>
  
    <div class="btn-wrapper" *ngIf="!editable">
      <button class="btn" (click)="editable = !editable">Edit</button>
      <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
    </div>
  
    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable">
      <input
        class="sm-text-input"
        placeholder="edit item"
        [value]="item.titulo"
        #editedItem
        (keyup.enter)="saveItem(editedItem.value)" />
  
      <div class="btn-wrapper">
        <button class="btn" (click)="editable = !editable">Cancel</button>
        <button class="btn btn-save" (click)="saveItem(editedItem.value)">
          Save
        </button>
        <button id="btn-special" (click)="simplify(editedItem.value)">
            <i class="fas fa-magic"></i> <!-- Font Awesome magic icon -->

            Make it simple
          </button>
      </div>
    </div>
  </div>
  